<body>
  <div id="top">
    <h1>{{title}}</h1>
    <h2>Add a new Recipe: </h2>
    <label for="userTitle">Title of Recipe: </label>
    <input #userTitle><br>
    <label for="userIngredients">Ingredients (seperate ingredients with commas): </label>
    <input #userIngredients><br>
    <label for="userDirections">Directions (seperate directions with commas): </label>
    <input #userDirections><br>
    <button class="btn btn-outline-info btn-md" (click)="addRecipe(userTitle.value, userIngredients.value, userDirections.value)">Submit new recipe</button>
  </div>
  <div id="recipes">
    <h1>Current Recipes:</h1>
    <div *ngFor="let singleRecipe of recipes">
    <h2>{{singleRecipe.title}}</h2>
    <ul>
      <h3>Ingredients: </h3><li *ngFor="let singleIngredient of singleRecipe.ingredients">{{singleIngredient}}</li>
    </ul>
    <ol>
      <h3>Directions: </h3><li *ngFor="let recipeDirections of singleRecipe.directions">{{recipeDirections}}</li>
    </ol>
    </div>
  </div>
</body>
